.blogs{
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    background-color: aqua;
    border: 5px solid red;
    padding: 10px;
}
.blog1{
    border: 2px solid green;
    padding: 5px;
    margin-right: 5px;
    align-content: center;
}
.mainimg{
    height: 100%;
    width: 98%;
    display: flex;
    border: 2px solid blue;
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    justify-content: space-around;
}
.imgs img{
    height: 100px;
    width: 200px;
    overflow: hidden;
    border: 2px solid red;
    margin: 5px;
}